body {
    background-color: antiquewhite;
}

.container {
    width: 900px;
    margin: 0 auto;
    text-align: center;
}

.main {
    display: flex;
}

.main div {
    flex:1;
}

.main div button {
    background-color: rgb(192, 100, 133);
    width:300px;
    height:200px;
    border-radius: 100px;
}
